<div class="container">
<div class="row">

<header class="site-header">
    
	
    
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:#00000000; border-style:none;">
        <div class="container">

        <div class="navbar-header">
            <div class="container-fluid">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#example-navbar-collapse">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        
         <!--   <a  class="navbar-brand e" href="{{ site.baseurl }}/">
            <img class="avatar" src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt="avatar"/>
            </a> -->

        
            <a class="navbar-brand" href="{{ site.baseurl }}/" >
            	{{ site.theme_settings.title }}
            </a>
        
        </div>
        </div>
     
    
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
     <ul class="nav navbar-nav navbar-right">
          
          <li>
              <a  href="{{ site.url }}{{site.baseurl}}/blog" >
               Blog
              </a>
          </li>
          
          <li>
              <a  href="{{ site.url }}{{ site.baseurl }}/portfolio">
                Portfolio
              </a>
          </li>
          <li>
              <a href="{{ site.url }}{{site.baseurl}}/about">
                  About
              </a>
          </li>
          
    
     </ul>

     </div>
 </div>
        
	</nav>
</header>
</div>
</div>