<div class="center-block" style="width:200px">
<div class="pagination" >
   <nav aria-label="Page navigation">
  <ul class="pagination">
    {% if paginator.previous_page %}
    {% if paginator.previous_page !=1 %}
    <li>
      <a href="{{site.url}}/blog/page{{ paginator.previous_page }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li class>
      <a href="/blog/index.html" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% else %}
    <li class="disabled">
      <a href="/blog/index.html" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    
    <li {% if paginator.page == 1 %} class="active" {% endif %} >
      <a href="/blog/index.html">1</a>
    </li>
    {% if paginator.total_pages >1 %}
    {% for page in (2..paginator.total_pages) %}
    <li {% if paginator.page == page %} class="active" {% endif %} >
      <a href="{{site.url}}/blog/page{{page}}"> {{ page }} </a>
    </li>
    {% endfor %}
    {% endif %}


    {% if paginator.next_page %}
    <li>
      <a href="{{site.url}}/blog/page{{ paginator.next_page }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="disabled">
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>

</div>
</div>