---
layout: default
---

<div class="home">
	<div class="container">
		<div class="row" style="position:relative;">
			<!--<div style="width:200px;height:60px;background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);position:absolute;left:300px;top:350px;z-index:100">
			</div> -->
			
			<div class="col-md-6">
				<div style="margin:100px 20px;">
	              {% include carousel.html %}
                </div>
            </div>

            <div class="col-md-6">
	           <div style="width:400px;height:400px;margin:160px 20px 60px 20px;">
		         <h1 style="font-size:50px;">{{ site.home_slogan }}</h1>
	           </div>
            </div>
        </div>
    </div>
</div>



