---
layout: default
---

<div class="home">
	<div class="container-fluid">
		<div class="row">
            
			
<div style="padding-top:30px;padding-left:30px;">
               <div class="col-md-12 col-xs-12 ">
               <div  style="margin:100px 20px 20px,20px">
                 <h1 style="font-size:48px;">Welcome to my page!</h1>
            </div>
	</div>

           <div class="col-md-6 col-xs-12 col-sm-6" >
            <p class="text-left"><h4>Hallo,I'm Alex.This is my page.I'm a designer ,here you can find my portfolio.Have fun!</h4></p>
            <p class="text-left"><h4>你好，我是Alex，这是我的个人主页。我是一名设计师，致力于分析产品的整个设计流程并不断改进提升。你可以在这里找到我之前的作品（包括这个网站），欢迎与我联系！<h4></p>
        </div>
		</div>	

            


        </div>
    </div>
</div>



