---
layout: default
---
<div class="container" style=" padding-top: 70px; ">
	<div class="row">
		<div class="col-md-3">
    {% include category.html %} 
    </div>

		<div class="col-md-9">

      <ol class="breadcrumb">
  <li><a href="{{site.url}}/blog" alt="">Blog</a></li>
  <li><a href="#">{{page.categories}}</a></li>
  <li class="active">{{page.title}}</li>
      </ol>

           <article >
<!-- <article {% if page.feature-img %}class="feature-image"{% endif %}> -->
  <header id="main" style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 id="{{ page.title | default: "" | cgi_escape }}" class="title">
        {{ page.title }}
    </h1>
    
    {% if page.subtitle %}
    <h2 class="subtitle">{{ page.subtitle }}</h2>
    {% endif %}
    <h4>{{ page.date | date: "%B %-d, %Y" }}</h4>
    {% if page.author %} - {{ page.author }}{% endif %}
      
  </header>

  <section class="post-content">{{ content }}</section>
    
  
</article>

{% include post_nav.html %}

</div>



</div>

</div>



